# Node modules
node_modules/

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
android/app/build/
ios/build/
ios/Pods/
*.xcworkspace

# Expo
.expo/
.expo-shared/

# React Native
*.keystore
*.p8
*.jks
*.pem

# Misc
.env
.env.local
.env.*.local

# MacOS
.DS_Store

# Others
*.log
.idea/
.vscode/